body.mario-bg {
  background: url('https://elcomercio.pe/resizer/2glKfLpFT7-rqbi1NCklZLqui1Y=/1200x675/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/FN3ETS723JDORMAE5HHAWWUSLQ.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin: 0;
  padding: 0;
}

.contacto-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px #ffcc00;
}

.form-label,
.form-control,
.btn,
.alert {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.info-contacto {
  background-color: #f0f8ff;
  color: #000;
  padding: 1rem;
  border: 2px dashed #0077cc;
  border-radius: 10px;
  font-weight: bold;
}





