<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylessobre.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="navbar.css">
    <title>Sobre Nosotros</title>
</head>
<body>

    <div id="navbar"></div>

    <header>
        <h1>¿Quienes somos?</h1>
    </header>
    <main>
        <div id="parrafo">
            <p>Somos un grupo de estudiantes del programa Generation y enfocamos nuestro blog a hablar sobre el videojuego Mario Bros</p>
        </div>
        
        <section>
        <h3>Nuestros integrantes</h3>
        <div id="imagenes">
            <div class="integrantes">
                <img src="/imagenes/1.png" alt="">
                <p>Luis <br> Vera</p>
            </div>
            <div class="integrantes">
                <img src="imagenes/5.png" alt="">
                <p>Johana <br> Usaquen</p>
            </div>
            
            <div class="integrantes">
                <img src="imagenes/3.png" alt="">
                <p>Andres <br> Cuervo</p>
            </div>
        
            <div class="integrantes">
                <img src="imagenes/2.png" alt="">
                <p>Laura <br> Lozada</p>
            </div>
        
            <div class="integrantes">
                <img src="imagenes/4.png" alt="">
                <p>Diana <br> Catama</p>
            </div>
        
        </div>
        
        </section>
    </main>
    <div id="footer"></div>
    <script src="Main.js"></script>
</body>
</html>